<%- include('partials/header') %>

<div class="container-fluid">
  <div class="card my-4">
    <h5 class="card-header">Dia a consultar</h5>
    <div class="card-body">
      <form id="consultar">
        <input name="date" class="date_picker"/>
        <div class="d-flex justify-content-center mt-3" >
          <button class="btn btn-primary" name="ignore" type="submit">Consultar</button>
        </div>
      </form>
    </div>
  </div>
  <div class="card my-4 p-2">
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
</div>

<div class="modal fade" id="no_registros" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">No hay registros</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="lead">
          No se encontraron registros para esta fecha. Prueba con otra fecha
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/main.js"></script>

<%- include('partials/footer') %>