<%- include('partials/header') %>

<div class="container-fluid">
  <script>
    var _todayLogs = <%- JSON.stringify(logs) %>;
  </script>
  <div class="card my-4 p-2">
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
  <%- include('partials/form-add_log'); %>
</div>
<script src="/js/main.js"></script>

<%- include('partials/footer') %>